.DS_Store
*.scssc
docs/.jekyll-metadata
**/_site/*
*.lock
**/.stack-work/*
Gemfile.lock
*sync-conflict*

*.aux
*.log
*.out
*.bbl
*.blg
*.fls
*.pdfsync
*.synctex.gz
*.fdb_latexmk

docs/assets/tutorials/*.pdf
